@charset "utf-8";
/* Your styles here */

ul.enlarge{
		list-style-type:none; 
		margin: 100px 0 0 0;
}
ul.enlarge li{
		display:inline-block; /*places the images in a line*/
		position: relative; /*allows precise positioning of the popup image when used with position:absolute - see support section */
		z-index: 0; /*resets the stack order of the list items - we'll increase in step 4. See support section for more info*/
}

ul.enlarge img{
/*give the thumbnails a frame*/
background-color:#eae9d4; /*frame colour*/
padding: 6px; /*frame size*/
/*add a drop shadow to the frame*/
-webkit-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
-moz-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
box-shadow: 0 0 6px rgba(132, 132, 132, .75);
/*and give the corners a small curve*/
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
